@page
@model aspIdentity.Pages.AddLinkModel
@{
}
<h1>Youtube-ийн холбоос нэмэх</h1>
<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-4">
        <a asp-page="VideoCollection" class="link">back to Video collection</a>
        <br />
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Холбооснд нэр оруулна уу</label>
                <input class="form-control" type="text" asp-for="Model.Title" />
                <span class="text-danger" asp-validation-for="Model.Title"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Youtube-ийн холбоос оруулна уу</label>
                <input id="linkInput" class="form-control" type="text" asp-for="Model.Url" />
                <span class="text-danger" asp-validation-for="Model.Url"></span>
                <label class="form-label mt-2" id="errorMessage" style="display:none;"></label>
            </div>
            <div class="mb-3">
                <label class="form-label">Холбоосийн тайлбар</label>
                <textarea class="form-control" asp-for="Model.Description" id="TextAreaInput" 
                rows="5" placeholder="Холбоосийн тайлбар бичих"></textarea>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary" asp-page-handler="SaveVideo" id="saveBtn">Хадгалах</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/AddLink.js"></script>