@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
    <script src="~/js/УгтахЦэс.js" defer></script>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-3" style="font-size: 2rem;">Тавтай морил @User.Identity.Name</h1>

        <div class="container">
            <div id="videosCollection" style="width:100%; height: auto;">

            </div>
        </div>
        
    </div>

    </body>
</html>
